/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* header menu part start */
.header .container-fluid{
    border-left: 5px solid #1c1c1c;
    border-right: 5px solid #1c1c1c;
    background-color:#d195c4 ;
}
.header-menu .nav-item .nav-link {
    display:inline-block;
    margin: 24px 20px;
    padding: 0;
    position: relative;
}
  .header-menu .nav-item .nav-link::before{
    position: absolute;
    content: ""; 
    left: 0;
    bottom: -3px;
    height: 3px;
    background-color:#88d54a ;   
} 
 .header-menu .nav-item .nav-link::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: -3px;  
    height: 3px;
    background-color:#d54a4a ;   
}
.header-menu .nav-item .nav-link:hover::before{
     width: 50%; 
}
.header-menu .nav-item .nav-link:hover::after{
    width: 50%;
}
.header-menu .nav-item .nav-link:hover{
    background-color: #4ab4d5;
    border-radius: 10px;
    border-left: 3px solid #1c1c1c;
    border-right: 3px solid #1c1c1c;
}
/* header menu part end */

/* banner part start */
.banner{
    background: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
}
.banner-text span{
    color: #ffa500;
}
/* banner part end*/



