/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
/* header menu part start */
/* .header{
    width: 100%;
    background-color: black;
    margin: auto;
} */
.header .container{
    border-left: 5px solid #eb5757;
    border-right: 5px solid #eb5757;
    background-color:#d195c4 ;
}
.header-menu .nav-item .nav-link {
    display:inline-block;
    margin: 24px 20px;
    padding: 0;
    position: relative;
}
  .header-menu .nav-item .nav-link::before{
    position: absolute;
    content: ""; 
    left: 0;
    bottom: -3px;
    height: 3px;
    background-color:#88d54a ;   
} 
 .header-menu .nav-item .nav-link::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: -3px;  
    height: 3px;
    background-color:#d54a4a ;   
}
.header-menu .nav-item .nav-link:hover::before{
     width: 50%; 
}
.header-menu .nav-item .nav-link:hover::after{
    width: 50%;
}
.header-menu .nav-item .nav-link:hover{
    background-color: #4ab4d5;
    border-radius: 10px;
    border-left: 5px solid #1c1c1c;
    border-right: 5px solid #1c1c1c;
}
/* header menu part end */

/* banner part start */
.banner{
    background: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     padding: 220px; 
}
.banner-text span{
    color: #ffa500;
}
/* banner part end*/

/* strategic area start */
.strategic-container{
    margin-bottom: 20px;
}
/* client area start */

/* footer css area start*/
.footer-top{
    background:#1c1c1c;
    padding: 80px 0;
}
.footer-menu p{
    margin: 5px 0;
    color: white;
}
.footer-menu p:hover{
    color: #009988;
}
.fb-social ul{
    text-align: right;
    margin-right: 10px;
}
.fb-social ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    color: #ddd;
    background: #1c1c1c;
    margin: 0 5px;
}
.fb-social ul li a:hover{
    background: #d54ab6;
    border-radius: 5px;
}



